


.nameBorder {

	width: 25%;
    height: 71px;
	margin:10px;
	background-color: #4aaaa5;
	border-width: 2px;
	padding: 15px; 
	text-align: center;
	position: fixed;
	left: 89px;
	top: 15px;
	
	
	display: inline-block;
	font-size: 42px;
	color: white;
	font-family: 'Georgia', Times, Times New Roman, serif;

}

#name {
	
	position: fixed;
		left: 133px;
		top: 57px;
		font-weight: normal;
}

.navBar {

	position:relative;
	top:10%;
	right:10%;
}

ul.navBar { 	
	
	position: fixed;
	top: 40px;
	right:-21%;
	list-style-type: none;
    margin: 10px;
    padding: 10px; 
    color: #777777; 
    width:61%;

}

 

 li.nav {
	
	list-style-type: none;	
 	float:right;
 	margin: 0px;
 	padding: 1px;
 	color: #777777; 
 	position:relative;
	width:15%;
	height:9%;
 	top:10%;
 	right:50%;

 }

 .li a {
 
 	text-decoration: none;
 	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    position:absolute;
    top:50%;
    right:50%;
   
 }

 li.nav a {

 	display: block;
    color: #777777;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position:relative;
    top:50%;
    right:11%;
 }

li:hover {

	background-color: #4aaaa5;
	color: white;
}



ul.logos {
	
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    top: 44%;
    right:25%;
    float: right;
    
    
}



li.imagelogo1 {

 	float:right;
 	margin: -4px;
 	padding: 10px;
 	

 }

 li.imagelogo1.a {
	
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

 }



.aboutMe {

	width: 52%;
    height: 76%;
	margin:10px;
	background-color: white;
	border-width: 2px;
	padding: 15px; 
	text-align: justify;
	position: fixed;
	left: 89px;
	top: 20px;
	clear: left;
	overflow: scroll;
	
	
	position: relative;
	font-size: 42px;
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;

}
/*

.thumb {
	position:relative;
	top:-36%;
	left:-40%;
	float:left;
	height:10%;
	width:10%;
}
*/


#image1 {

	position: absolute;
	bottom:40%;
	left:-40%;
	height:157px;
	width:210px;
	
	
	
}


.thumb1 { 

	position:relative;
	top:-60%;
	left:47%;
	height:157px;
	width:210px;

 }

 label.label1 {

 	position:absolute;
	background-color: #4aaaa5;	
	height:45px;
	width:210px;
	top:28%;
	left:-40%;
	color: white;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 15px;
	text-align: center;
 }


#image2 {

	position: absolute;
	bottom:-44%;
	left:-40%;
	height:157px;
	width:210px;
	
	
	
}


.thumb2 { 

	position:relative;
	top:-75%;
	left:47%;
	height:157px;
	width:210px;

 }

 label.label2 {

 	position:absolute;
	background-color: #4aaaa5;	
	height:45px;
	width:210px;
	top:109%;
	left:-40%;
	color: white;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 15px;
	text-align: center;
 }



#image3 {

	position: absolute;
	bottom:40%;
	left:-40%;
	height:157px;
	width:210px;
	
	
	
}


.thumb3 { 

	position:relative;
	top:-103%;
	left:19%;
	height:157px;
	width:210px;

 }

 label.label3 {

 	position:absolute;
	background-color: #4aaaa5;	
	height:45px;
	width:210px;
	top:28%;
	left:-40%;
	color: white;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 15px;
	text-align: center;
 }


#image4 {

	position: absolute;
	bottom:40%;
	left:-40%;
	height:157px;
	width:210px;
	
	
	
}


.thumb4 { 

	position:relative;
	top:-100%;
	left:19%;
	height:157px;
	width:210px;

 }

 label.label4 {

 	position:absolute;
	background-color: #4aaaa5;	
	height:45px;
	width:210px;
	top:28%;
	left:-40%;
	color: white;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 15px;
	text-align: center;
 }


#image5 {

	position: absolute;
	bottom:40%;
	left:-40%;
	height:157px;
	width:210px;
	
	
	
}


.thumb5 { 

	position:relative;
	top:-98%;
	left:19%;
	height:157px;
	width:210px;

 }

 label.label5 {

 	position:absolute;
	background-color: #4aaaa5;	
	height:45px;
	width:210px;
	top:28%;
	left:-40%;
	color: white;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 15px;
	text-align: center;
 }


.label { 

	/*position:absolute;
	background-color: #4aaaa5;	
	height:45px;
	width:210px;
	top:32%;
	left:-40%;
	color: white;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 15px;
	text-align: center;*/

 }


#aboutSection {
		
		position: fixed;
		left: 135px;
		top:23%;
		font-weight: normal;
}

.background { 

	background-image: url("concrete_seamless.png");
	width: 103%;
	height: 100%;
	position:fixed;
	top:17%;
	left:0%;
	border-width:2px;	
    border-top-style:ridge;

}



hr#aboutMe { 
	
	height: 2px;
	width: 54%;
	position: fixed;
	display: block;
	right: 	37%;
	top:27%;
	background-color: #e0e0e0

 }

hr.connect { 
	
	height: 2px;
	width:87%;
	position: absolute;
	display: block;
	right:5%;
	top:35%;
	background-color: #e0e0e0

 }

 

.connectImages { 

	height: 17%;
	width: 24%;
	position: absolute;
	right:6%; 
	top: 4%;
	z-index: 1000;
	
	background-color: white;

 }


.connectMe {

	position:absolute;
	top:18%;
	right:30%;

	display: block;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;

/*
}

.footer1 {

	height:8px;
	width:100%;
	color: #4aaaa5;
	
	background-color: #4aaaa5;
	Position:fixed;
	bottom:81px;
	right:0px;
	clear: right;
}

.footer2 {

	height:84px;
	width:100%;
	color: white;
	text-align: center;
	font-size: 14px;
	
	background-color: #525252;
	bottom:-3px;
	position:fixed;

	right:0px;
	clear: right;
}



 */